{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": { "es6": true, "node": true },
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["build", "public"],
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
